<a href="https://colab.research.google.com/github/Mysto77/testing/blob/main/Q26_47.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q26

In [ ]:
num1=int(input("Enter the Dividend "))                                #Dividend is the no to be divided
num2=int(input("Enter the Divisor "))                                 #Divisor is the no that is used to divide the Divdend
quo=int(num1/num2); rem =num1%num2
print(f"Upon performing division,\nThe Quotient was found to be {quo} and\n remainder is {rem} ")

input("press enter to exit")

Enter the Dividend 58
Enter the Divisor 5
Upon performing division,
The Quotient was found to be 11 and
 remainder is 3
press enter to exit

''

Q27

In [ ]:
num1=int(input("Enter the Base "))
num2=int(input("Enter the Exponent "))
z=num1**num2                                                #** is used to represent to the power of so A**B is the same as A^B
print(f"The result obtained is {z}")
input("press enter to exit")

Enter the Base 2
Enter the Exponent 8
The result obtained is 256

Q28

In [ ]:
import math as mt                                                                   #importing lib
angD =float(input("enter the Angle in degrees "))
angR=float((angD*3.14159)/180)                                                      #Pi= 3.14159
angSin=mt.sin(angR)
angCos=mt.cos(angR)
angTan=mt.tan(angR)
print(f"The Sine of {angD} :{angSin} \n The Cosine of {angD} :{angCos} \n The Tangent of {angD}: {angTan}")
input("Press enter to exit")

enter the Angle in degrees 30
The Sine of 30.0 :0.4999996169872557
 The Cosine of 30.0 :0.8660256249168368
 The Tangent of 30.0: 0.5773496795031555
Press enter to exit

''

Q29

In [ ]:
import math as mt
angD =float(input("enter the Angle in degrees "))
angR=float((angD*3.14159)/180)
angSin=mt.sin(angR)
angCos=mt.cos(angR)
angTan=mt.tan(angR)
lN=mt.log(angR)
lTn=mt.log(angR,10)
lTw=mt.log(angR,2)
print(f"The Sine of {angD} :{angSin} \n The Cosine of {angD} :{angCos} \n The Tangent of {angD}: {angTan}")
print(f"The natural Log ln  of {angR} :{lN} \n The Log(base 10) of {angR} :{lTw} \n The Tangent of {angR}: {lTn}")
input("Press enter to exit")

enter the Angle in degrees 30
The Sine of 30.0 :0.4999996169872557
 The Cosine of 30.0 :0.8660256249168368
 The Tangent of 30.0: 0.5773496795031555
The natural Log ln  of 0.5235983333333333 :-0.6470304280428767
 The Log(base 10) of 0.5235983333333333 :-0.9334675898417215
 The Tangent of 0.5235983333333333: -0.28100174452252036
Press enter to exit

''

Q30

In [ ]:
if((4>3 or 12>=3)and 4==3 ):                                                      # if Statement  is used to check if the condition is true
  print("TRUE")
else:
  print("False")

False

Q31

In [ ]:
n=int(input("Enter the two number that you want to compare \n"))
m=int(input("\n"))
if(n<m):
  print(f"You entered {n} which is less than {m}")
elif(n==m):
  print(f"You entered {n} which is equal to {m}")
elif(n>m):
  print(f"You entered {n} which is greater than {m}")
else:
  print("Invalid Input")
input("press enter to continue")

Enter the two number that you want to compare
56

78
You entered 56 which is less than 78
press enter to continue

''

Q32

In [ ]:
a=float(input("Enter the Coefficient of x^2: "))
b=float(input("Enter the Coefficient of x: "))
c=float(input("Enter the constant: "))
if(((b**2)-(4*a*c))>0):
  print(f"The quadratic equation {a}X^2+{b}X+{c} has two distinct real roots.") #Since Discriminant is +ve; there are two distinct real roots
elif(((b**2)-(4*a*c))==0):
  print(f"The quadratic equation {a}X^2+{b}X+{c} has One repeated real root.") #Since Discriminant is +ve; there are two distinct real roots
else:
  print(f"The quadratic equation {a}X^2+{b}X+{c} has Two complex roots.") #Since Discriminant is +ve; there are two distinct real roots
input("press enter to continue")

Enter the Coefficient of x^2: 1
Enter the Coefficient of x: 4
Enter the constant: 4
The quadratic equation 1.0X^2+4.0X+4.0 has One repeated real root.
press enter to continue

''

Q33

In [ ]:
import math as mt
a=float(input("Enter the Coefficient of x^2: "))
b=float(input("Enter the Coefficient of x: "))
c=float(input("Enter the constant: "))
dis=((b**2)-(4*a*c))


if(dis>0):
  print(f"The quadratic equation {a}X^2+{b}X+{c} has two distinct real roots which are \n.") #Since Discriminant is +ve; there are two distinct real roots
  mgRr1=((-b/(2*a))+((mt.sqrt(dis))/(2*a)))
  mgRr2=((-b/(2*a))-((mt.sqrt(dis))/(2*a)))
  print(f"Root1: {mgRr1} \nRoot2: {mgRr2}")
elif(dis==0):
  mgR0=(-b/(2*a))
  print(f"The quadratic equation {a}X^2+{b}X+{c} has One repeated real root and that root is \n {mgR0}.") #Since Discriminant is +ve; there are two distinct real roots
else:
  print(f"The quadratic equation {a}X^2+{b}X+{c} has Two complex roots.") #Since Discriminant is +ve; there are two distinct real roots
  mgRi=(-b/(2*a))
  mgI=((mt.sqrt(abs(dis)))/(2*a))
  print(f"The roots are {mgRi}+i{mgI} & {mgRi}-i{mgI}") #Calculate the magnitude of real and imaginary nos properly.
  input("press enter to continue")

Enter the Coefficient of x^2: 1
Enter the Coefficient of x: 3
Enter the constant: 4
The quadratic equation 1.0X^2+3.0X+4.0 has Two complex roots.
The roots are -1.5+i1.3228756555322954 & -1.5-i1.3228756555322954
press enter to continue

Q34

In [ ]:
for toaru in range(10):
  print(toaru)

0
1
2
3
4
5
6
7
8
9

Q35

In [ ]:
for toaru in range(0,20,2):
  print(toaru)

0
2
4
6
8
10
12
14
16
18

Q36

In [ ]:
for inte in range(12,-9,-3):
  print(inte)

12
9
6
3
0
-3
-6

Q37

In [ ]:
for numero in range(1,31,1):
  print(numero)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

Q38

In [ ]:
for numero in range(1,31,1):
  if(numero%3!=0):
   print(numero)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

Q39

In [ ]:
for numero in range(1,31,1):
  if(numero%3!=0 and numero%5!=0):
   print(numero)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29

Q40

In [ ]:
n1=int(input("Enter the no of stars do you want to see in the sky "))
for Strs in range(n1):
  print("* ",end="",flush=True)

Enter the no of stars do you want to see in the sky 12
* * * * * * * * * * * *

Q41

In [ ]:
for numero in range(26):
  print(f"{numero} {numero*0.01}")

0 0.0
1 0.01
2 0.02
3 0.03
4 0.04
5 0.05
6 0.06
7 0.07
8 0.08
9 0.09
10 0.1
11 0.11
12 0.12
13 0.13
14 0.14
15 0.15
16 0.16
17 0.17
18 0.18
19 0.19
20 0.2
21 0.21
22 0.22
23 0.23
24 0.24
25 0.25

Q42

In [ ]:
for numero in range(21):
  func=((numero)/(1+(numero*numero)))
  print(f"{numero*0.1:.1f} {func*0.1:.3f}")

0.0 0.000
0.1 0.050
0.2 0.040
0.3 0.030
0.4 0.024
0.5 0.019
0.6 0.016
0.7 0.014
0.8 0.012
0.9 0.011
1.0 0.010
1.1 0.009
1.2 0.008
1.3 0.008
1.4 0.007
1.5 0.007
1.6 0.006
1.7 0.006
1.8 0.006
1.9 0.005
2.0 0.005

Q43

In [ ]:
def printfunc(x,y):
  print(f"{x*0.1:.1f}  {y*0.1:.3f}")
vs=int(input("Enter the start value "))
ve=int(input("Enter the end value "))
vst=int(input("Enter the Step value "))
for i in range(vs,ve,vst):
   func=((i)/(1+(i*i)))
   printfunc(i,func)

Enter the start value 8
Enter the end value 9
Enter the Step value 1
0.8  0.012

Q44

In [ ]:
def printfunc(x,y):
  print(f"{x*0.1:.1f}  {y*0.1:.3f}")
vs=int(input("Enter the start value "))
ve=int(input("Enter the end value "))
vst=int(input("Enter the Step value "))
for i in range(vs,ve,vst):
   func=((i)/(1+(i*i)))
   printfunc(i,func)

Q45

In [ ]:
def factorial(n):
  b=1
  for c in range(2,n+1):
    b*=c
  return b
for i in range(1,11):
   print(factorial(i))

1
2
6
24
120
720
5040
40320
362880
3628800

Q46

In [ ]:
def asterisk(n):
  for Strs in range(n1):
     print("* ",end="",flush=True)
n1=int(input("Enter the no of stars do you want to see in the sky: "))
asterisk(n1)

Enter the no of stars do you want to see in the sky 6
* * * * * *

Q47

Subsection A

In [ ]:
import math as m
def prime_or_not(p):
    if p<=1:                                      #negative or zero
      print("Invalid")
    for i in range(2, int(m.sqrt(p)) + 1,1):
     if p%i==0:
      print("Given no is composite")
     else:
      print("Given no is prime")

u=int(input("Enter a no to check if prime or not: "))
prime_or_not(u)

Enter a no to check if prime or not: 6
Given no is composite

Subsection B

In [3]:
def prime_or_not_V2(N):
    primes = [2]                 #initialise value of 2
    num = 3
    while len(primes) < N:
        is_prime = True
        for i in range(len(primes)):
            if num % primes[i] == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
        num += 2                         #Iterate through only odd numbers so that we can reduce no of iterations

    for i in range(len(primes)):
        print(primes[i], end=" ")        #Printing the List
    print()

fN=int(input("Enter the value of N "))
prime_or_not_V2(fN)

Enter the value of N 7
2 3 5 7 11 13 17

Subsection C

In [6]:
n1=int(input("Enter the number you wish to check: "))
sumP=0
for i in range(1,n1):
    if (n1%i==0):
        sumP=sumP+i
if(sumP==n1):
    print("The entered number is a perfect number")
else:
    print("The entered number is not a perfect number")

Enter the number you wish to check: 8
The entered number is not a perfect number

Subsection D

In [16]:

def is_perfect_number(n1):
  sumP=0
  for i in range(1,n1):
    if (n1%i==0):
        sumP=sumP+i
  if sumP==n1:
        return True

pN=int(input("Enter the value of N "))
perfect_numbers = []                            #intialising the list
num = 2
while len(perfect_numbers) < pN:
        if is_perfect_number(num):
            perfect_numbers.append(num)
        num += 1

for i in range (len(perfect_numbers)):         #printing the list
  print(perfect_numbers[i], end=" ")

Enter the value of N 4
6 28 496 8128

Subsection E

In [18]:
def find_near_miss_perfect_numbers(n, delta):
    near_miss_perfect_numbers = []
    num = 2
    while len(near_miss_perfect_numbers) < n:
        factors_sum = sum(i for i in range(1, num) if num % i == 0)
        if factors_sum == num + delta or factors_sum == num - delta:
            near_miss_perfect_numbers.append(num)
        num += 1
    return near_miss_perfect_numbers
nNMPN=int(input("Enter no of entries"))
d_value=int(input("Enter the delta value "))
near_miss_numbers = find_near_miss_perfect_numbers(nNMPN, d_value)
print(f"The first {nNMPN} near-miss perfect numbers are: {near_miss_numbers}")

Enter no of entries4
Enter the delta value 1
The first 4 near-miss perfect numbers are: [2, 4, 8, 16]